<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form action="/addToCart" method="post">
            <div id="container">
                <div>
                    <label>ID:</label>
                    <span><%=prod.id%></span>
                </div>
                <div>
                    <%=prod.toString();%>
                </div>
                <div>
                    <input type="submit" value="Add To Cart" name="addToCart">
                </div>
                
            </div>
        </form>
    </body>
</html>