<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Cart</title>
        <meta charset="utf-8"/>
        <link href="../css/style.css" rel="stylesheet"/>
    </head>
    <body id="carId">
        <h1>Shopping Cart</h1>
        <div>
            <a href="/">Home</a>
         </div>
        <div>
            <% for(const i of item) { %> 
                <div><label>Name:</label><%=i.name%></div>
                <div><label>Quantity:</label><%=i.quantity%></div>
                <div><label>Price:</label><%=i.price%></div>
             <% } %>
        </div>
    </body>
</html>